body{
    background: rgb(11,11,11);
    background: linear-gradient(139deg, rgba(51, 44, 44, 0.97) 42%, rgba(238,9,9,1) 46%);
}
.product img{
    height: 240px;
    width: 200px;
    border: 2px solid rgb(119, 7, 7);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left: 100px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.header img{
    height: 400px;
    width:800px;
}
.product{
   height: 580px;
   width: 420px;
   font-size: 18px;
   border-radius: 20px;
   background: linear-gradient(321deg, rgba(58, 42, 42, 0.97) 42%, rgb(194, 14, 14) 46%);
   padding:5px;
   border: 2px solid rgb(13, 15, 13);
   color:  rgb(224, 217, 217);;
}
.cart-item button{
    padding: 5px;
    position: relative;
    width: 50px;
    left: 300px;
    bottom: 180px;
    margin: 10px;
    font-size:15px;
    background-color: rgb(223, 47, 16);
}

.cart-item button:hover{
    padding: 5px;
    position: relative;
    width: 50px;
    font-size:15px;
    left: 300px;
    bottom: 180px;
    margin: 10px;
    background-color: rgb(1, 7, 3);
    color:rgb(224, 217, 217);;
}
.main{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    gap: 1rem;
}
.cart-item img {
    width: 200px;
    position: relative;
    left:30px;
}

.cart-item p {
    margin: 0 10px;
    position: relative;
    left: 300px;
    bottom: 200px;
    font-size: 20px;
    margin: 20px;
    color: rgb(224, 217, 217); ;
}

.cart-summary {
    position: absolute;
    bottom: 25px;
    left: 320px;
    font-size: 20PX;
    color: rgb(224, 217, 217);;
}
.maincart{
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 1000;
}
.cart-badge{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(240, 12, 12);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}
.cart-content {
   position: absolute;
    top: 50px;
    background-color: rgb(54, 41, 41);
    right: 300px;
    width: 700px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999; 
    padding: 10px;
    border-radius: 5px;
}
.prod,i{
    font-size: 19px;
    color: rgb(224, 217, 217);
    position: relative;
    left: 85%;
    margin: 10px;
}
.fa:hover{
    font-size: 25px;
}
.prod:hover{
    font-size: 23px;
}

.btn{
    background: linear-gradient(321deg, rgba(58, 42, 42, 0.97) 42%, rgb(194, 14, 14) 46%);
    position: relative;
    top: 50px;
    right: 50px;
    padding: 5px;
    cursor: pointer;
    color: rgb(224, 217, 217); ;
}
.btn:hover{
    background: linear-gradient(321deg, rgba(238, 214, 214, 0.97) 42%, rgb(255, 3, 3) 46%);
    position: relative;
    top: 50px;
    right: 50px;
    padding: 5px;
    cursor: pointer;
    color: black;
}
.no-prod{
    color: rgb(224, 217, 217);
    font-size: 25px;
}

@media (width <800px){
    .prod,i{
        position: relative;
        left: 75%;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(1,0fr);
        margin: 80px;
     }
     .cart-content {
        position: absolute;
         top: 70px;
         background-color: rgb(54, 41, 41);
         right: 60px;
         width:500px
     }

}
